.listing-page-hero-image {
    width: 100vw;
    object-fit: cover;
}

.listing-page-subtitle {
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-family: Merriweather;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 118.232%;
    letter-spacing: 0.44px;
}

.listing-page-header {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 68px;
    font-style: normal;
    font-weight: 500;
    line-height: 113.2%;
    letter-spacing: -0.68px;
}

.listing-page-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin: 70px 20px -60px 20px;
    border-radius: 10px;
}

.listing-page-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 300px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.listing-page-card:hover {
    transform: translateY(-5px);
}

/* Container for the image and badges */
.listing-page-image-container {
    position: relative;
    overflow: hidden;
}

.listing-page-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}

.listing-page-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,
            rgba(239, 169, 54, 0.8) 0%,
            rgba(239, 169, 54, 0.8) 100%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.listing-page-image-container:hover .listing-image-overlay {
    opacity: 1;
}

.listing-page-overlay-button {
    display: flex;
    height: 42px;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    background: #212022;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.listing-page-badges {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    background: #EFA936;
    color: #212022;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 113.2%;
    letter-spacing: -0.14px;
}


.listing-page-details {
    padding: 20px;
}

.listing-page-address {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 113.2%;
    letter-spacing: -0.22px;
    margin-bottom: 8px;
}

.listing-page-city {
    color: #949494;
    text-align: center;
    font-family: Merriweather;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 113.2%;
    /* 18.112px */
    letter-spacing: -0.16px;
    margin-bottom: 8px;
}

.listing-page-price {
    color: var(--Black, #212022);
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 113.2%;
    /* 40.752px */
    letter-spacing: -0.36px;
    margin-bottom: 24px;
}

.listing-page-beds-baths {
    display: flex;
    justify-content: center;
    color: var(--Black, #212022);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 113.2%;
    /* 18.112px */
    letter-spacing: -0.16px;
}

.spacing {
    width: 26px;
    /* 👈 tweak as needed for the gap between "Bedrooms" and the next icon */
    display: inline-block;
}

.view-more-button {
    display: flex;
    height: 42px;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    background: var(--Black, #212022);
    color: #FFF;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 120px;
}

.view-more-button:hover {
    background: #EFA936;
    color: #212022;
    transition: background-color 0.3s ease;
}

.off-white-background {
    background: #F5F7F6;
}