.testimonials-container {
  padding: 60px 220px;
  text-align: center;
}

.testimonials-subtitle {
  color: var(--Gold, #EFA936);
  text-align: center;
  font-family: Merriweather;
  font-size: 22px;
  font-style: italic;
  font-weight: 700;
  line-height: 118.232%;
  letter-spacing: 0.44px;
  margin-bottom: 8px;
  margin-top: 60px;
}

.testimonials-header {
  margin-bottom: 72px;
}

.testimonials-title {
  color: var(--Black, #212022);
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 113.2%; /* 45.28px */
letter-spacing: -0.4px;
}

.testimonials-slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.testimonials-cards {
  display: flex;
  gap: 32px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

.testimonials-cards::-webkit-scrollbar {
  display: none;
  /* Chrome/Safari */
}

.testimonial-card {
  flex: 0 0 238px;
  /* Make cards thinner */
  height: 296px;
  /* Make cards taller */
  scroll-snap-align: start;
  display: flex;
  padding: 28px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 16px;
  background: #F5F7F6;
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  transform: scale(1.03);
}

.stars {
  margin-top: -10px;
}

.testimonial-text {
  color: #212022;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;
  text-align: start;
  margin-bottom: 46px;
  margin-top: 26px;
}


.testimonial-author {
  color: var(--Charcoal, #949494);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.slider-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slider-btn.left {
  left: -60px;
}

.slider-btn.right {
  right: -60px;
}

.slider-btn img {
  width: 32px;
  height: 32px;
}